:root {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, .7);
}

.modal-box {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: .4rem;
    padding: 1rem;
    margin: 3rem;
    width: 70vw;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
}

.modal-box p {
    font-weight: 500;
    margin: 2rem;
}

.modal-title {
    font-weight: 700;
    font-size: 1.5rem;
}



@media screen and (min-width: 370px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (min-width: 480px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 18px;
    }
}


