@import url('../../index.css');

#navbar-row__container{
    display: flex;
    justify-content: center;
}

/* Notice section */
.notice {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    width: 1280px;
    height: 50px;
    border-bottom: groove;
}

/* Alert section */
#alert-notice {
    position: absolute;
    z-index: 100;
    background: var(--avocado-green);
    border-color: var(--avocado-green);
    color: var(--black);
    width: 1280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#to-close {
    padding: 1.2rem;
}

/*Navigation bar*/
#navigationBar {
    height: 100px;
    background: var(--white);
}

/*drop down*/
#basic-nav-dropdown, #basic-navbar-nav a {
    color: var(--black);
}

/* Icons */

.icon-section__container {
    display: flex;
}

.icon__container {
    width: 60px;
    height: 60px;
    background: #BFBFBF;
    margin-right: 10px;
    border-radius: 50%;
}