#ig-carousel__container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-border {
    width: 186px;
    height: 186px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 156px;
    height: 156px;
}