#ig-carousel__container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-border {
    width: 186px;
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 5px 0;
}

.card-image {
    width: 156px;
    height: 156px;
}