:root {
  --main-color: #FF8126;
  --secondary-color: #F7F5F0;
  --berry-blue: #6090C3;
  --avocado-green: #C2E8CE;
  --black: #1F1F1F;
  --white: #FFFFFF;
  --details-color: #BFBFBF;
}

@media (min-width: 992px) {
  /* Cart Notification */
  #cart-notification {
    right: -15px;
    top: 20px;
  }
}

@media (min-width: 1000px) {
  /* Cart Notification */
  #cart-notification {
    right: -10px;
  }
}

@media (min-width: 1015px) {
  /* Cart Notification */
  #cart-notification {
    right: -5px;
  }
}

@media (min-width: 1025px) {
  /* Cart Notification */
  #cart-notification {
    right: 0;
  }
}

@media (min-width: 1035px) {
  /* Cart Notification */
  #cart-notification {
    right: 5px;
  }
}

@media (min-width: 1045px) {
  /* Cart Notification */
  #cart-notification {
    right: 10px;
  }
}

@media (min-width: 1055px) {
  /* Cart Notification */
  #cart-notification {
    right: 15px;
  }
}

@media (min-width: 1065px) {
  /* Cart Notification */
  #cart-notification {
    right: 20px;
  }
}

@media (min-width: 1075px) {
  /* Cart Notification */
  #cart-notification {
    right: 25px;
  }
}

@media (min-width: 1085px) {
  /* Cart Notification */
  #cart-notification {
    right: 30px;
  }
}

@media (min-width: 1100px) {
  /* Cart Notification */
  #cart-notification {
    right: 35px;
  }
}

@media (min-width: 1110px) {
  /* Cart Notification */
  #cart-notification {
    right: 40px;
  }
}

@media (min-width: 1120px) {
  /* Cart Notification */
  #cart-notification {
    right: 45px;
  }
}

@media (min-width: 1130px) {
  /* Cart Notification */
  #cart-notification {
    right: 50px;
  }
}

@media (min-width: 1140px) {
  /* Cart Notification */
  #cart-notification {
    right: 55px;
  }
}

@media (min-width: 1150px) {
  /* Cart Notification */
  #cart-notification {
    right: 60px;
  }
}

@media (min-width: 1160px) {
  /* Cart Notification */
  #cart-notification {
    right: 65px;
  }
}

@media (min-width: 1170px) {
  /* Cart Notification */
  #cart-notification {
    right: 70px;
  }
}
@media (min-width: 1180px) {
  /* Cart Notification */
  #cart-notification {
    right: 75px;
  }
}
@media (min-width: 1190px) {
  /* Cart Notification */
  #cart-notification {
    right: 80px;
  }
}
@media (min-width: 1200px) {
  /* Cart Notification */
  #cart-notification {
    right: 85px;
  }
}
@media (min-width: 1210px) {
  /* Cart Notification */
  #cart-notification {
    right: 90px;
  }
}
@media (min-width: 1220px) {
  /* Cart Notification */
  #cart-notification {
    right: 95px;
  }
}
@media (min-width: 1230px) {
  /* Cart Notification */
  #cart-notification {
    right: 100px;
  }
}
@media (min-width: 1240px) {
  /* Cart Notification */
  #cart-notification {
    right: 105px;
  }
}
@media (min-width: 1250px) {
  /* Cart Notification */
  #cart-notification {
    right: 110px;
  }
}
@media (min-width: 1260px) {
  /* Cart Notification */
  #cart-notification {
    right: 115px;
  }
}
@media (min-width: 1270px) {
  /* Cart Notification */
  #cart-notification {
    right: 120px;
  }
}
@media (min-width: 1280px) {
  /* Cart Notification */
  #cart-notification {
    right: 125px;
  }
}
@media (min-width: 1290px) {
  /* Cart Notification */
  #cart-notification {
    right: 130px;
  }
}
@media (min-width: 1300px) {
  /* Cart Notification */
  #cart-notification {
    right: 135px;
  }
}
